EMAIL_USER='grupoc198@gmail.com'
EMAIL_PASSWORD='dwaf cjkd lfjg fhqj'
# --- Redis ---
REDIS_HOST=localhost
REDIS_PORT=6379

# --- HTTP Server ---
# Usamos :: para cubrir IPv4 e IPv6 simultáneamente
HTTP_HOST=::
HTTP_PORT=8080

# --- SSH Server ---
# Usamos :: para cubrir IPv4 e IPv6 simultáneamente
SSH_HOST=::
SSH_PORT=2222