EMAIL_USER=EMAIL 
EMAIL_PASSWORD=GOOGLE PASSWORD
# --- Redis ---
REDIS_HOST=localhost--> REDIS SERVER RUNNING HOST
REDIS_PORT=6379--> REDIS SERVER RUNNING PORT


HTTP_PORT=8080--> HTTP SERVER RUNNING PORT

SSH_PORT=2222--> SSH SERVER RUNNING PORT